body {
    margin: 0px;
    background-color: rgba(100, 100, 100, 0.05);
  }
  
  header {
    position:fixed;
    border-bottom: 1px solid #DDDDDD;
    background-color:white;
    top: 0px;
    left: 0px;
    right: 0;
    z-index:1;
  }
  
  #header-container {
    width: 650px;
  }
  
  #iglogo img {
    height: 35%;
    width: 35%;
    margin: -20px 0px -20px 10px
  }
  